<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/app.js"></script>
    <title>express</title>
  </head>
  <body>
    {{>header}}
    <img src="./img/student-gc020048e2_640.jpg" alt="" />
    {{>footer}}
  </body>
</html>