<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app.js"></script>
        <title>express</title>
    </head>
    <body>
        {{>header}}
        <p>{{helpful}}</p>
        {{>footer}}
    </body>
</html>